.markdown-section {
    margin: 0 auto;
    max-width: 80%;
    padding: 2em;
    position: relative;
}

.markdown-section > * {
    box-sizing: border-box;
}

.markdown-section > :first-child {
    margin-top: 0 !important;
}

.markdown-section hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 2em 0;
}

.markdown-section iframe {
    /* fix horizontal overflow on iOS Safari */
    width: 1px;
    min-width: 100%;
}

.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%;
    color: white;
}

.markdown-section th {
    background-color: #e34d00;
    font-weight: bold;
    color: white;
    padding: 6px 13px;
}

.markdown-section td {
    padding: 6px 13px;
}

.markdown-section tr {
    background-color: #2e333f;
}

.markdown-section tr:nth-child(2n) {
    background-color: #343a48;
}

.tip {
    background-color: #2e333f;
    padding: 1em;
    padding-left: 2em;

    max-width: 75%;
}

p > code {
    background-color: #1e2229;
    padding: 0.25em;
    border-radius: 3px;
    margin: 0.25em 0;

    color: #ff7a8b;
    border: 1px solid #2e333f;

    display: inline-block;
}

.markdown-section p > img:not([height]) {
    height: 28em;
}

.markdown-section p:not([align]) > img {
    max-width: 100%;
    border: 1px solid rgba(115, 127, 157, 0.6);
    border-radius: 3px;
    box-shadow: 2px 8px 0px rgba(0, 0, 0, 0.2);
}
