:root {
    --theme-text-color: #9698ac;
    --theme-hightlight-color: #ffcc00;
    --theme-background: #1e2229;
    --nav-height: 4em;
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
}

body:not(.ready) {
    overflow: hidden;
}

body:not(.ready) [data-cloak],
body:not(.ready) .app-nav,
body:not(.ready) > nav {
    display: none;
}

div#app {
    font-size: 30px;
    font-weight: lighter;
    margin: 40vh auto;
    text-align: center;
}

div#app:empty::before {
    content: "Loading...";
}

img.emoji {
    height: 1.2em;
    vertical-align: middle;
}

span.emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1.2em;
    vertical-align: middle;
}

.progress {
    background-color: var(--theme-hightlight-color, #000);
    height: 2px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    transition: width 0.2s, opacity 0.4s;
    width: 0%;
    z-index: 999999;
}

.search a:hover {
    color: var(--theme-hightlight-color, #000);
}

.search .search-keyword {
    color: var(--theme-hightlight-color, #000);
    font-style: normal;
    font-weight: bold;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--theme-text-color);
    background-color: var(--theme-background);
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
    height: fit-content;
}

a[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

kbd {
    border-radius: 3px;
    display: inline-block;
    font-size: 12px !important;
    line-height: 12px;
    margin-bottom: 3px;
    padding: 3px 5px;
    vertical-align: middle;
}

li input[type="checkbox"] {
    margin: 0 0.2em 0.25em 0;
    vertical-align: middle;
}

main {
    width: 100vw;
}

main.hidden {
    display: none;
}

.anchor {
    display: inline-block;
    text-decoration: none;
}

.anchor::before {
    font-size: 1rem;
}

.anchor span {
    color: var(--theme-hightlight-color);
}

.anchor:hover span {
    color: white;
    text-decoration: underline;
}

.content {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    transition: left 250ms ease, width 250ms ease;
}

body.close .sidebar {
    transform: translateX(-300px);
}

body.close .sidebar-toggle {
    width: auto;
}

body.close .content {
    left: 0;
    width: 100%;
}

@media print {
    .github-corner,
    .sidebar-toggle,
    .sidebar,
    .app-nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .app-nav {
        margin-top: 16px;
    }

    .icon-navbar,
    .app-nav .logo {
        display: none;
    }

    .app-nav li ul {
        top: 30px;
    }

    main {
        height: auto;
        min-height: 100vh;
        overflow-x: hidden;
    }

    .sidebar {
        transform: translateX(-300px);
        transition: transform 250ms ease;
    }

    .content {
        left: 0;
        width: 100%;
        padding-top: 20px;
        transition: left 250ms ease;
    }

    .app-nav,
    .github-corner {
        transition: transform 250ms ease;
    }

    .sidebar-toggle {
        background-color: transparent;
        width: auto;
        padding: 30px 30px 10px 10px;
    }

    body.close .sidebar {
        transform: translateX(300px);
    }

    body.close .sidebar-toggle {
        transition: 1s background-color;
        width: 284px;
        padding: 10px;
    }

    body.close .content {
        transform: translateX(300px);
    }

    body.close .app-nav,
    body.close .github-corner {
        display: none;
    }

    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

pre {
    position: relative;
    padding: 1em;
    margin-left: 1rem;
    background-color: #16181d;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3) inset,
        0px 0px 16px rgba(0, 0, 0, 0.3) inset;
    overflow: auto;

    max-width: 600px;

    color: #c0c0c0;
}

::-webkit-scrollbar {
    background-color: #2e333f;
    height: 0.75em;
    width: 0.75em;
    border: 1px solid #545d73;
}

::-webkit-scrollbar-thumb {
    background-color: #737f9d;
}

.token.namespace {
    color: inherit;
}

main {
    margin-top: 2em;
    margin-bottom: 2em;
}

a {
    color: var(--theme-hightlight-color);
    border: 0px none;
    text-decoration: none;
    border-radius: 3px;
}

a:hover {
    color: white;
}

input {
    background: #2e333f;
}

.search input:focus {
    border: 1px solid transparent !important;
    box-shadow: none !important;
}

.search input {
    color: white;
    border-radius: 4px;
}

blockquote * {
    border-left: 4px solid var(--theme-hightlight-color);
    padding-left: 0.75em;
    padding-right: 2em;
    border-radius: 3px;
    background-color: hsl(218, 15%, 16%);
    width: fit-content;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

h4 {
    font-size: 1em;
    font-weight: normal;
}
