/*
* An increased contrast highlighting scheme loosely based on the
* "Base16 Atelier Dune Light" theme by Bram de Haan
* (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
* Original Base16 color scheme by Chris Kempson
* (https://github.com/chriskempson/base16)
*/

.hljs-tag,
.hljs-comment,
.hljs-quote
{
    color: #606060 !important;
}

.hljs-variable,
.hljs-template-variable,
.hljs-name,
.hljs-built_in,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-keyword,
.hljs-selector-id,
.hljs-selector-class
{
    color: #569cd6 !important;
}

.hljs-attribute,
.hljs-attr
{
    color: #c94e67 !important;
}

.hljs-number,
.hljs-builtin-name,
.hljs-literal,
{
    color: #9CDCFE !important;
}

.hljs-params
{
    color: #9CDCFE !important;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet
{
    color: #ce9178 !important;
}


.hljs-type
{
    color: #4ec9b0 !important;
}

.hljs-title
{
    color: #dcdcaa !important;
}

.hljs-section,
.hljs-function
{
    color: inherit !important;
}

.hljs-meta,
.bash,
.hljs-selector-tag
{
    color: #606060 !important;
}

pre>.hljs
{
    display: block;
    overflow-x: auto;
    background: #16181d;
    color: #D4D4D4;
    padding: 16px;
    border: 1px solid #2e333f;
    border-radius: 3px;
    box-shadow: 0px 4px 0px rgb(0 0 0 / 30%) inset, 0px 0px 16px rgb(0 0 0 / 30%) inset;
}


/* Custom */
.hljs-method
{
    color: #dcdcaa !important;
}

.hljs-class
{
    color: #4EC9B0 !important;
}
