body {
    --color-foreground: #ccd5dc;
    --color-background: #1e2229;
    --color-text: #9698ac;
    --color-navbar-background: #16181d;
    --color-navbar-text: #ffcc00;

    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.svg {
    padding: auto 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h4,
h5 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: var(--color-navbar-text);
}

a {
    color: var(--color-navbar-text) !important;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white !important;
}

header {
    background-color: var(--color-navbar-background);
}

.footer {
    background-color: var(--color-navbar-background);
    border-width: 0px;
}

.subnav {
    background-color: var(--color-background);
}

.navbar-nav {
    border-bottom-color: var(--color-navbar-text);
}

.navbar-nav li a {
    text-transform: uppercase;
}

.navbar {
    border: none;
}

#navbar {
    width: auto;
    min-width: 400px;
    margin: auto;
}

#navbar [title="Discord"] {
    background-image: url(../discord.svg);
}

#navbar [title="Github"] {
    background-image: url(../github.svg);
}

#navbar [title="Twitter"] {
    background-image: url(../twitter.svg);
}

#navbar [title="Deepnight"] {
    background-image: url(../knight.png);
}

header div.container {
    width: fit-content;
}

ul.navbar-nav.nav {
    padding-top: auto;
    padding-bottom: auto;
}

.navbar-nav a {
    width: auto;
    padding: 0;
    margin: 0 5px;
}

.navbar-nav .active a {
    border-bottom: 1px solid var(-color-navbar-text);
}

.navbar-nav a {
    height: 36px;
    background-color: transparent !important;
}

.navbar-inverse {
    background-color: var(--color-navbar-background);
    color: var(--color-navbar-text);
    padding: 30px 0;
    font-size: 0.9em;
    font-weight: bold;
}

.navbar-icons-list {
    display: inline-block;
    padding-inline-start: 0px;
    margin: 0;
}

.navbar-icons-list li {
    float: right;
    height: 25px;
    width: 25px;
    display: block;
    position: relative;
    margin: 12.5px 4px;
}

.navbar-logo-link {
    width: 25px;
}

.navbar-logo-link:hover {
    filter: brightness(100) saturate(0);
}

.sidetoc {
    background-color: var(--color-background);
    border-width: 0px;
}

.navbar-logo-link img {
    height: 25px;
}

.article {
    padding-top: 150px;
}

#toc {
    background-color: var(--color-background);
}